.main-container {
  .input-field {
    width: 100%;
    background-image: url("../../assets/images/pattern-bg.png");
    height: 155px;
    .input-container {
      margin: auto;
      position: relative;
      top: 45px;
      width: 370px;
      height: 40px;
      border-radius: 10px;
      label{
        display: block;
        text-align: center;
        color: white;
        position: relative;
        bottom: 20px;
        font-weight: 400;
        font-size: 24px;
      }
      input{
        margin: auto;
        width: 330px;
        height: 40px;
        padding-left: 20px;
        border: 1px solid white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 14px;
        font-weight: 400;
        color: hsl(0, 0%, 17%);
        &:focus {
          outline: none;
      }
      }
      button{
        width:40px;
        height: 40px;
        border: 1px solid hsl(0, 0%, 17%);
        background-color: hsl(0, 0%, 17%);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        span{
          color: white;
        }
        svg{
          height:13.5px;
          fill: white;
        }
      }
      p {
        color: white ;
        // text-align: center;
      }
    }
  }
  .spinner {
    display: none;
  }
}

@media screen and (max-width: 280px) {
  .main-container {
    .input-field {
      .input-container {
        label{
          margin-right: 70px;
        }
        input{
          width: 240px;
        }
      }
    }
  }

}
